body {
  background-color: black;
}

.img-overlay .img-hover {
  background-color: #555;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.img-thumbnail, .img-hover {
  border-radius: 1rem;
}

.contact {
  background-color: rgb(79, 82, 85)
}